<form [formGroup]="form" (ngSubmit)="signin()">

    <div class="col-md-8 offset-md-2">
        <h1>Chain of Custody for Digital Evidences</h1>
        <hr>
        <div class="alert alert-light" role="alert">
            <strong>Welcome to the web application for the management of digital evidences. Please fill this form to login into the system.</strong>
        </div>
    </div>

    <div class="col-md-6 offset-md-3 loginDiv">
        <div class="form-group row" style="margin-top:2%;">
            <label class="col-md-3 col-form-label">User identifier</label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Enter identifier" formControlName="identifier">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4 offset-md-2">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="form.invalid">Sign in</button>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="signup()">Sign Up</button>
            </div>
        </div>

        <div style="margin-top:1%" *ngIf="showFail">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>User {{failUserId}} does not exist</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>



</form>