/* You can add global styles to this file, and also import other style files */

.routerOutlet {
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginDiv,
.signupDiv,
.profileDiv {
    border: 2px solid grey;
    border-radius: 5px;
}

footer {
    color: white;
    bottom: 0px;
    width: stretch;
    height: 150px;
}

.imageFooter {
    width: 80px;
}

.imageFooter2 {
    width: 200px;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: grey;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
}

label {
    font-weight: bold;
}