<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

        <div class="form-group">
            <h1>My opened cases</h1>
            <hr>
            <div class="row">
                <div class="column" *ngFor="let case of cases | slice:0:3">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <h5 align="center" style="text-transform: uppercase;" class="card-title">{{case.identifier}} <b *ngIf="case.status !== 'OPENED'">(CLOSED)</b></h5>
                            <p class="card-text">{{case.description}}</p>
                            <a [routerLink]="['/case',case.identifier]" class="btn btn-outline-primary btn-block">See details</a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info col-md-12" role="alert" *ngIf="no_cases">
                    <b>You are not participating in any opened case.</b>
                </div>
            </div>
        </div>

        <br>
        <div class="form-group">
            <h1>My evidences</h1>
            <hr>
            <div class="row">
                <div class="column" *ngFor="let evidence of evidences | slice:0:3">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <h5 align="center" style="text-transform: uppercase;" class="card-title">{{evidence.identifier}}</h5>
                            <h6 align="center" class="card-title">Case: {{evidence.case.identifier}}</h6>
                            <p class="card-text">{{evidence.description}}</p>
                            <a [routerLink]="['/evidence', evidence.identifier]" class="btn btn-outline-primary btn-block">See details</a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info col-md-12" role="alert" *ngIf="no_evidences">
                    <b>You are not the temporary owner of any evidence.</b>
                </div>
            </div>
        </div>

    </div>
</div>