<div>
    <h1>Evidence {{evidence.identifier}}</h1>
    <hr>

    <div class="form-group row">
        <label class="col-md-1 col-form-label">Case ID</label>
        <div class="col-md-5">
            <input type="text" class="form-control" [value]="evidence.case.identifier" disabled>
        </div>

        <label class="col-md-2 col-form-label">Addition date</label>
        <div class="col-md-4">
            <input type="text" class="form-control" [value]="evidence.additionDate | date: 'dd/MM/yyyy HH:mm:ss z'" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-1 col-form-label">Hash</label>
        <div class="col-md-10">
            <input type="text" class="form-control" [value]="evidence.hash_value + ' (' + evidence.hash_type + ')'" disabled>
        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary btn-block" (click)="copyHash()">Copy</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-1 col-form-label">Description</label>
        <div class="col-md-11">
            <textarea class="form-control" [value]="evidence.description" disabled></textarea>
        </div>
    </div>

    <div class="form-group row">
        <h2>Owners (evidence current owner in bold)</h2>
        <div class="table table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Owner id</th>
                        <th>Since</th>
                        <th>Until</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let owner of evidence.olderOwners; let i = index">
                        <td>{{owner.owner.split('#')[1]}}</td>
                        <td *ngIf="i==0">{{evidence.additionDate | date: 'dd/MM/yyyy HH:mm:ss z'}}</td>
                        <td *ngIf="i>0">{{evidence.olderOwners[i-1].until | date: 'dd/MM/yyyy HH:mm:ss z'}}</td>
                        <td>{{owner.until | date: 'dd/MM/yyyy HH:mm:ss z'}}</td>
                    </tr>
                    <tr>
                        <th>{{evidence.owner}}</th>
                        <th *ngIf="evidence.olderOwners.length==0">{{evidence.additionDate | date: 'dd/MM/yyyy HH:mm:ss z'}}</th>
                        <th *ngIf="evidence.olderOwners.length>0">{{evidence.olderOwners[evidence.olderOwners.length-1].until | date: 'dd/MM/yyyy HH:mm:ss z'}}</th>
                        <th>...</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2 offset-md-3">
            <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#transferModal">Transfer evidence</button>

            <!-- Transfer evidence modal -->
            <div class="modal fade" id="transferModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header">
                            <h5>Transfer evidence {{evidence.identifier}}</h5>
                            <button type="button" class="close" data-dismiss="modal" (click)="cleanSelected()">&times;</button>
                        </div>
                        <!-- Body -->
                        <div class="modal-body">
                            <div class="list-group">
                                <div *ngFor="let participant of participants">
                                    <button type="button" class="list-group-item list-group-item-action active" *ngIf="participant_id==participant" (click)="participantSelected(participant)">
                                        <!--{{participant.lastName}}, {{participant.firstName}} ({{participant.identifier}})-->
                                        {{participant}}
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action" *ngIf="participant_id!=participant" (click)="participantSelected(participant)">
                                        <!--{{participant.lastName}}, {{participant.firstName}} ({{participant.identifier}})-->
                                        {{participant}}
                                    </button>
                                </div>
                            </div>

                            <div class="alert alert-danger" role="alert" *ngIf="noSelected" style="margin-top: 1%;">
                                <strong>Please select the destination participant of the evidence</strong>
                            </div>
                            <div class="text-center" *ngIf="transferring">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Transferring evidence <b>{{evidence.identifier}}</b> to participant <b>{{participant_id}}</b>...
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" (click)="transferEvidence()">Transfer</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary btn-block" (click)="downloadCopy()">Download a copy</button>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary btn-block" (click)="goBack()">Go back</button>
        </div>
    </div>

</div>