<div>
    <h1>Evidence {{evidence.identifier}} (case {{evidence.case.identifier}})</h1>
    <hr>

    <div class="form-group row">
        <label class="col-md-1 col-form-label">Hash</label>
        <div class="col-md-6">
            <input type="text" class="form-control" [value]="evidence.hash + ' (' + evidence.hashType + ')'" disabled>
        </div>

        <label class="col-md-2 col-form-label">Addition Date</label>
        <div class="col-md-3">
            <input type="date" class="form-control" [value]="additionDate" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-1 col-form-label">Description</label>
        <div class="col-md-11">
            <textarea class="form-control" [value]="evidence.description" disabled></textarea>
        </div>
    </div>

    <div class="form-group row">
        <h2>Owners (evidence current owner in bold)</h2>
        <div class="table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Owner id</th>
                        <th>Since</th>
                        <th>Until</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let owner of evidence.olderOwners; let i = index">
                        <td>{{owner.owner}}</td>
                        <td *ngIf="i==0">{{evidence.additionDate | date: 'dd/MM/yyyy'}}</td>
                        <td *ngIf="i>0">{{evidence.olderOwners[i-1].until | date: 'dd/MM/yyyy'}}</td>
                        <td>{{owner.until | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <th>{{evidence.owner.identifier}}</th>
                        <th>{{evidence.olderOwners[evidence.olderOwners.length-1].until | date: 'dd/MM/yyyy'}}</th>
                        <th>...</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2 offset-md-3">
            <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#transferModal">Transfer evidence</button>

            <!-- Transfer evidence modal -->
            <div class="modal fade" id="transferModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header">
                            <h5>Transfer evidence {{evidence.identifier}}</h5>
                            <button type="button" class="close" data-dismiss="modal" (click)="cleanSelected()">&times;</button>
                        </div>
                        <!-- Body -->
                        <div class="modal-body">
                            <div class="list-group">
                                <div *ngFor="let participant of participants">
                                    <button type="button" class="list-group-item list-group-item-action active" *ngIf="participant_id==participant.identifier" (click)="participantSelected(participant.identifier)">
                                        {{participant.lastName}}, {{participant.firstName}} ({{participant.identifier}})
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action" *ngIf="participant_id!=participant.identifier" (click)="participantSelected(participant.identifier)">
                                        {{participant.lastName}}, {{participant.firstName}} ({{participant.identifier}})
                                    </button>
                                </div>
                            </div>

                            <div class="alert alert-danger" role="alert" *ngIf="noSelected" style="margin-top: 1%;">
                                <strong>Please select the destination participant of the evidence</strong>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" (click)="transferEvidence()">Transfer</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary btn-block" (click)="downloadCopy()">Download a copy</button>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary btn-block" (click)="goBack()">Go back</button>
        </div>
    </div>


</div>