<form [formGroup]="form" (ngSubmit)="closeCase()">
    <div>
        <h1>Case {{case.identifier}}</h1>
        <hr><br>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Opened by</label>
            <div class="col-md-4">
                <!--<input class="form-control" type="text" [value]="case.openedBy.lastName + ', ' + case.openedBy.firstName + ' (' + case.openedBy.identifier + ')'" disabled>-->
                <input class="form-control" type="text" [value]="case.openedBy" disabled>
            </div>

            <label class="col-md-2 col-form-label">Status</label>
            <div class="col-md-4">
                <input class="form-control" type="text" [value]="case.status" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Opening date</label>
            <div class="col-md-4">
                <input class="form-control" type="date" [value]="openingDate" disabled>
            </div>

            <label class="col-md-2 col-form-label">Closure date</label>
            <div class="col-md-4">
                <input class="form-control" type="date" [value]="closureDate" formControlName="closureDate" [min]="openingDate" [max]="today" [disabled]="closed">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Description</label>
            <div class="col-md-10">
                <textarea class="form-control" disabled>{{case.description}}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Resolution</label>
            <div class="col-md-10">
                <textarea class="form-control" placeholder="Enter a resolution" formControlName="resolution" [disabled]="closed">{{case.resolution}}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="alert alert-danger col-md-12" role="alert" *ngIf="displayError">
                In order to close the case you need to fill fields <b>Closure date</b> and <b>Resolution</b>.
            </div>
            <div class="text-center offset-4" *ngIf="closing">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                Closing case...
            </div>
        </div>

        <hr><br>

        <div class="form-group row">
            <div class="col-md-9">
                <h2 align="center">Evidences</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Evidence id</th>
                                <th>Info</th>
                                <th>Current owner id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let evidence of evidences">
                                <td><a [routerLink]="['/evidence', evidence.identifier]">{{evidence.identifier}}</a></td>
                                <td>{{evidence.description}}</td>
                                <td>{{evidence.owner}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info" role="alert" *ngIf="evidences.length === 0">
                    Evidences have not been added to this case yet.
                </div>

                <div class="col-md-4 offset-md-4">
                    <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['newevidence']" [hidden]="closed">Upload evidence</button>
                </div>
            </div>

            <div class="col-md-3">
                <h2 align="center">Participants</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Participant identifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let participant of participants">
                                <td><a [routerLink]="['/profile', participant]">{{participant}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-8 offset-md-2">
                    <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#addParticipantModal" [disabled]="disabledUser" [hidden]="closed">Add participant</button>
                </div>

                <div class="modal fade" id="addParticipantModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <!-- Header -->
                            <div class="modal-header">
                                <h5>Add participant to case {{case.identifier}}</h5>
                                <button type="button" class="close" data-dismiss="modal" (click)="cleanSelected()">&times;</button>
                            </div>
                            <!-- Body -->
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">User identifier</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" formControlName="newParticipantId" placeholder="Type the user identifier">
                                    </div>
                                </div>

                                <div class="form-group row" [ngSwitch]="switchControl">
                                    <div *ngSwitchCase="1" class="alert alert-danger col-10 offset-1" role="alert">
                                        User with identifier <b>{{newParticipantId}}</b> does not exist.
                                    </div>

                                    <div *ngSwitchCase="2" class="alert alert-warning col-10 offset-1" role="alert">
                                        User <b>{{newParticipantId}}</b> already participates in this case.
                                    </div>

                                    <div *ngSwitchCase="3" class="alert alert-info col-10 offset-1" role="alert">
                                        Add user <b>{{newParticipantDisplay}}</b> to the case?
                                    </div>

                                    <div *ngSwitchCase="4" class="alert alert-warning col-10 offset-1" role="alert">
                                        Please enter an identifier.
                                    </div>
                                    <div *ngSwitchCase="5" class="text-center offset-4">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        Searching user...
                                    </div>
                                    <div *ngSwitchCase="5" class="text-center offset-4">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        Adding user...
                                    </div>
                                </div>
                                <!-- Footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" (click)="searchParticipant()">Search Participant</button>
                                    <button type="button" class="btn btn-outline-primary" (click)="addParticipant()" [disabled]="switchControl!=3">Add</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="form-group row">

            <div class="col-md-3 offset-md-3">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="closed || disabledUser">Close case</button>
            </div>

            <div class="col-md-3">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="goBack()">Go back</button>
            </div>
        </div>

    </div>
</form>