<mat-card width="100%;">
    <mat-card-header>
        <img mat-card-avatar src="assets/request.png">
        <mat-card-title align="left">New users requests</mat-card-title>
        <mat-card-subtitle align="left">You can accept or decline them. In any case your client will be opened with (Outlook, Thunderbird, etc.) a default message.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive" *ngIf="requests.length > 0">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Github ID</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Birthdate</th>
                        <th scope="col">Job Position</th>
                        <th scope="col">Studies</th>
                        <th scope="col">Office</th>
                        <th scope="col">Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of requests; let i = index;">
                        <td>{{request.email}}</td>
                        <td><a [href]="'https://github.com/' + request.github" target="_blank">{{request.github}}</a></td>
                        <td>{{request.firstname}}</td>
                        <td>{{request.lastname}}</td>
                        <td>{{request.gender}}</td>
                        <td>{{request.birthdate}}</td>
                        <td>{{request.job}}</td>
                        <td>{{request.studies}}</td>
                        <td>{{request.office}}</td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" [id]="i" (click)="checkboxClicked(i)">
                                <label class="custom-control-label" [for]="i"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- NO REQUESTS -->
        <div class="alert alert-info col-md-12" *ngIf="requests.length === 0">
            <b>There are no pending requests</b>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" style="margin: 16px 8px;" [disabled]="numSelected !== 1" (click)="acceptRequest()"> Accept request </button>
        <button mat-raised-button color="warn" style="margin: 16px 8px;" [disabled]="numSelected !== 1" data-toggle="modal" data-target="#declineRequest"> Decline request </button>
        <!-- Decline request modal -->
        <div class="modal fade" id="declineRequest" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content -->
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5>Decline request</h5>
                        <button type="button" class="close" data-dismiss="modal" (click)="resetVariable(false)">&times;</button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Reason</label>
                            <div class="col-md-10">
                                <input id="declineReason" type="text" class="form-control" [formControl]="reason" placeholder="Github ID does not exist">
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" (click)="declineRequest()" [disabled]="!reason.valid">Decline</button>
                    </div>
                </div>

            </div>
        </div>

        <button mat-raised-button color="warn" style="margin: 16px 8px;" [disabled]="numSelected === 1 || numSelected === 0" data-toggle="modal" data-target="#declineMultipleRequests"> Decline selected requests </button>
        <!-- Decline multiple requests modal -->
        <div class="modal fade" id="declineMultipleRequests" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content -->
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5>Decline multiple requests</h5>
                        <button type="button" class="close" data-dismiss="modal" (click)="resetVariable(true)">&times;</button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Reason</label>
                            <div class="col-md-10">
                                <input id="declineMultipleReason" type="text" class="form-control" [formControl]="reason" placeholder="Github ID does not exist">
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" (click)="declineMultipleRequests()" [disabled]="!reason.valid">Decline</button>
                    </div>
                </div>

            </div>
        </div>
    </mat-card-actions>
</mat-card>