<mat-card width="100%;">
    <mat-card-header>
        <img mat-card-avatar src="assets/request.png">
        <mat-card-title align="left">New users requests</mat-card-title>
        <mat-card-subtitle align="left">You can accept or decline them. In any case your client will be opened with (Outlook, Thunderbird, etc.) a default message.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-elevation-z8 table-responsive" *ngIf="requests.length > 0">
            <table mat-table [dataSource]="dataSource" width="100%;" class="table">

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Github Column -->
                <ng-container matColumnDef="github">
                    <th mat-header-cell *matHeaderCellDef> Github ID </th>
                    <td mat-cell *matCellDef="let element"><a [href]="'https://github.com/' + element.github" target="_blank">{{element.github}}</a></td>
                </ng-container>

                <!-- Firstname Column -->
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef> Firstname </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                </ng-container>

                <!-- Lastname Column -->
                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef> Lastname </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                </ng-container>

                <!-- Gender Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> Gender </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>

                <!-- Birthdate Column -->
                <ng-container matColumnDef="birthdate">
                    <th mat-header-cell *matHeaderCellDef> Birthdate </th>
                    <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
                </ng-container>

                <!-- Job Column -->
                <ng-container matColumnDef="job">
                    <th mat-header-cell *matHeaderCellDef> Job Position </th>
                    <td mat-cell *matCellDef="let element"> {{element.job}} </td>
                </ng-container>

                <!-- Studies Column -->
                <ng-container matColumnDef="studies">
                    <th mat-header-cell *matHeaderCellDef> Studies </th>
                    <td mat-cell *matCellDef="let element"> {{element.studies}} </td>
                </ng-container>

                <!-- Office Column -->
                <ng-container matColumnDef="office">
                    <th mat-header-cell *matHeaderCellDef> Office </th>
                    <td mat-cell *matCellDef="let element"> {{element.office}} </td>
                </ng-container>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="toggleOne()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row; let i = $index;">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="toggleOne(row, i)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <!-- NO REQUESTS -->
        <div class="alert alert-info col-md-12" *ngIf="requests.length === 0">
            <b>There are no pending requests</b>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" style="margin: 16px 8px;" [disabled]="selectedRows() !== 1" (click)="acceptRequest()"> Accept request </button>
        <button mat-raised-button color="warn" style="margin: 16px 8px;" [disabled]="selectedRows() !== 1" data-toggle="modal" data-target="#declineRequest"> Decline request </button>
        <!-- Decline request modal -->
        <div class="modal fade" id="declineRequest" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content -->
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5>Decline request</h5>
                        <button type="button" class="close" data-dismiss="modal" (click)="resetVariable(false)">&times;</button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Reason</label>
                            <div class="col-md-10">
                                <input id="declineReason" type="text" class="form-control" [formControl]="reason" placeholder="Github ID does not exist">
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" (click)="declineRequest()" [disabled]="!reason.valid">Decline</button>
                    </div>
                </div>

            </div>
        </div>

        <button mat-raised-button color="warn" style="margin: 16px 8px;" [disabled]="selectedRows() === 1 || selectedRows() === 0" data-toggle="modal" data-target="#declineMultipleRequests"> Decline selected requests </button>
        <!-- Decline multiple requests modal -->
        <div class="modal fade" id="declineMultipleRequests" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content -->
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5>Decline multiple requests</h5>
                        <button type="button" class="close" data-dismiss="modal" (click)="resetVariable(true)">&times;</button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Reason</label>
                            <div class="col-md-10">
                                <input id="declineMultipleReason" type="text" class="form-control" [formControl]="reason" placeholder="Github ID does not exist">
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" (click)="declineMultipleRequests()" [disabled]="!reason.valid">Decline</button>
                    </div>
                </div>

            </div>
        </div>
    </mat-card-actions>
</mat-card>