<form [formGroup]="form" (ngSubmit)="sendRequest()">

    <div class="col-md-8 offset-md-2">
        <h1>Chain of Custody for Digital Evidences</h1>
        <hr>
        <div class="alert alert-light" role="alert">
            <strong>Welcome to the web application for the management of digital evidences. If you want to participate in the Chain of Custody system, please fill this form. As soon as possible, it will be checked by an administrator and you will receive an e-mail with your credentials.</strong>
            <br>
            <strong>If you are already inscribed in the system please <a href="http://104.155.2.231:3000/auth/github">click here</a>.</strong>
        </div>
    </div>

    <div class="col-md-6 offset-md-3 signupDiv">
        <div class="form-group row" style="margin-top:2%;">
            <label class="col-md-3 col-form-label">Email</label>
            <div class="col-md-9">
                <input type="email" class="form-control" placeholder="peter.dun@test.com" formControlName="email">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">First name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Peter" formControlName="firstname">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Last name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Dun" formControlName="lastname">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Birthdate</label>
            <div class="col-md-9">
                <input type="date" class="form-control" formControlName="birthdate">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Gender</label>
            <div class="col-md-9">
                <select class="form-control" formControlName="gender">
                    <option disabled selected value> -- Select one -- </option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Job Position</label>
            <div class="col-md-9">
                <select class="form-control" formControlName="job">
                    <option disabled select value> -- Select one -- </option>
                    <option value="DETECTIVE">Detective</option>
                    <option value="OFFICER">Officer</option>
                    <option value="FORENSICS_TECHNICIAN">Forensics Technician</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Studies</label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Software Engineer" formControlName="studies">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Office</label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Malaga" formControlName="office">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4 offset-md-4">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="form.invalid">Send</button>
            </div>
        </div>
    </div>
</form>