/* You can add global styles to this file, and also import other style files */

.routerOutlet {
    margin-top: 65px;
    margin-bottom: 150px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: stretch;
    height: 140px;
}

.imageFooter {
    width: 80px;
}

.imageFooter2 {
    width: 200px;
}