<form [formGroup]="form" (ngSubmit)="addEvidence()">
    <div>
        <h1>New evidence for case {{case_id}}</h1>
        <hr><br>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Evidence ID</label>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Enter identifier" formControlName="identifier">
            </div>

            <label class="col-md-2 col-form-label">Hash Type</label>
            <div class="col-md-4">
                <select class="form-control" formControlName="hash_type">
                    <option disabled selected value> -- Select one -- </option>
                    <option value="MD5">MD5</option>
                    <option value="SHA1">SHA-1</option>
                    <option value="SHA256">SHA-256</option>
                    <option value="SHA512">SHA-512</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Hash Value *</label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Enter hash value" formControlName="hash_value">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Description</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" placeholder="Enter description" formControlName="description"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Evidence</label>
            <div class="col-md-10">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" formControlName="evidence" (change)="getFile($event.target.files)">
                    <label class="custom-file-label">{{filename}}</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <i><b>* If you have not any tool to calculate the hash value, we recommend this one --> <a [href]="hash_utility_url" target="_blank">MD5 & SHA Checksum Utility</a></b></i>
        </div>

        <div class="form-group row">
            <div class="col-md-3 offset-md-3">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="form.invalid || end">Add evidence</button>
            </div>

            <div class="col-md-3">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="goBack()" [disabled]="executing_tx || uploading || end">Go back</button>
            </div>
        </div>

        <div class="form-group row" [hidden]="form.valid">
            <div class="alert alert-warning col-md-12" role="alert">
                All fields must be filled
            </div>
        </div>

        <div class="text-center" *ngIf="executing_tx">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            Waiting for blockchain response...
        </div>
        <div class="alert alert-success" role="alert" *ngIf="uploading">
            Transaction executed succesfully. Uploading evidence copy to file repository.
        </div>

        <div *ngIf="percentage | async as pct">
            <div class="progress" [hidden]="form.invalid">
                <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="pct" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <br>

        <div class="form-group row" [hidden]="!end">
            <div class="alert alert-success col-md-12" role="alert" (click)="goHome()">
                <b>Evidence {{form.value.identifier}} added succesfully. Click here to return to the home page.</b>
            </div>
        </div>
    </div>
</form>